body{
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    width:100vw;
    height: 80px;
    display:flex;
    justify-content: space-around;
    background-color: blanchedalmond;
    font-weight: bold;
    font-size: 18px;
}
.top1{
    margin-top: 30px;
}
.top2{
    margin-top: 20px;
}
.top2>button{
    background-color: white;
    /* padding: 5px 10px; */
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
    height:40px;
    width:150px;
    border:none;
}
.header{
    width:95vw;
    height:auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}
#anchor{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:black;
}

#input{
    height:48px;
    width:55%;
    margin-right: -50px;
    border-radius: 5px 0px 0px 5px;
    border:0px;
    padding-left: 20px;
    border:1px solid black;
}
#button1{
    background-color: black;
    height:52px;
    width:50px;
    border-radius:0px 5px 5px 0px;
    border:none;
    color:white;
    cursor:pointer;
}
#button2{
    margin-top: 13px;
    font-size: 20px;
    width:40px;
    height:40px;
    background-color: red;
    color:white;
    border-radius: 90%;
    border: none;
    cursor: pointer;
}
.content{
    width:100vw;
    height:770px;
    position:relative; 
   border:1px solid white;
   color:white;

}
.content >video{
   position:absolute;
   z-index:-1;
  width:100%;
  height:auto;
 
}
.content-top{
    text-align: center;
    margin-top: 220px;

}
.content-top>h1{
    font-size: 50px;
}
.content-top>p{
    font-size: 28px;
}
.content-top>button{
    background-color: #1dbf73;
    height:50px;
    width:180px;
    border-radius:5px;
    border:none;
    color:white;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold; 
    margin-bottom: 50px;
}
.content-top>button:hover{
    background-color: green;
}
.content-bottom{
    height:150px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255,255,255,.3);
    margin-top: 150px;
   
}
.content-bottom p{
font-size: 27px;
margin-bottom: -30px;
}
.sec{
text-align: center;
}
.content-bottom h1{
font-size: 50px ;
}

#container{
    width:82vw;
    height:auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,280px) ;
    margin-top: 20px;
    gap:30px;
    color:white;
    margin:auto

}

#button3{
    background-color: #1dbf73;
    height:40px;
    width:150px;
    border-radius:5px;
    border:none;
    color:white;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold;
}
#button3:hover{
    background-color: green;
}
.one{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/be9e63fa588288b35991ed8e8c6550d9-1614861018529/designer.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 
}
.one:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}
.two{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/699482a05db770305ba6f2fc7139b98a-1614861401148/developer.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 
}
.two:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}
.three{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/cfe8db680cc2a8abc1b1e9b755011a4f-1614863917639/writer.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 

}
.three:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}
.four{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/be9e63fa588288b35991ed8e8c6550d9-1614861018521/video.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 
}
.four:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}
.five{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/be9e63fa588288b35991ed8e8c6550d9-1614861018522/musician.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 
}
.five:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}

.six{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/be9e63fa588288b35991ed8e8c6550d9-1614861018521/voiceover.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 
}
.six:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}
.seven{
    background-image: url("https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/699482a05db770305ba6f2fc7139b98a-1614861401146/analyst.jpg");
    background-size: 100% 100% ;
    background-position: center;
    display: flex;
    align-items:flex-end;
    padding-left: 20px;
    overflow:hidden; 
}
.seven:hover{
    background-color:rgba(255, 255, 255, 0.7);
    background-size: 120% 120% ;
}
/* .one:hover{
    cursor: pointer;

} */
.eight{
    background-color:#eee;
    padding-top: 80px;
    text-align: center;
    color:#555;
    font-size: 30px;
}
#middle{
    margin-top: 40px;
 height:auto;;
 background-color: #eee; 
 padding-top: 20px; 
 margin-bottom: 50px; 
}
#mid{
   width:90%;
   height:200px; 
   margin: auto;
   display: flex;
   justify-content: space-evenly;
}
#mid p{
    color: #62646a;
    font-size: 18px;
}
#mid h2{
    text-align: center;
    color:#555; 
}
#learn{
    width:80%;
    margin: auto;
    height:auto;;
    background-color: #eee; 
    padding: 40px 50px 30px 50px; 
    display: flex;
}
.text>h1{
    margin-bottom: -10px;
    font-size: 40px;
}
.span1{
    font-size: 12px;
}
.text>h2{
    font-size: 30px;
    color:#555; 

}
.text>p{
    color: #62646a;
    font-size: 18px;  
}
#button4{
    background-color: #1dbf73;
    height:40px;
    width:150px;
    border-radius:5px;
    border:none;
    color:white;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold; 
}
#button4:hover{
    background-color: green;
}
.text{
    margin-right: 70px;
}
.video{
    margin-top: 150px;
    color:white;
    font-weight: bold;
}
#button5{
    background-color: #1dbf73;
    height:20px;
    width:50px;
    border:none;
    color:white;
    font-size: 12px;
    font-weight: bold; 
}
.video>.span2{
    color:gold;
}
.video>p{
    font-size:18px ;
}
#buyer{
    width:87%;
    margin: auto;
    height:auto;;
    background-color: #eee; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: (2,250px);
}
#buyer img{
    width:100%;
    height:100%;
}
.line1 i{
    color: #62646a;
    font-size: 20px;
}
.line1 p{
    color: #62646a;
    font-size: 16px;
}
.line1{
    padding-top: 60px;
    padding-left: 20px;
    padding-bottom: 60px;
}
#lastpage{
    padding-top:50px;
    padding-bottom:50px;
    margin-top:50px;
      background-color: #eee; 
      margin-bottom: 50px;
    
}
.FQ-container{
    width:90%;
    margin:auto;
 display: flex;
}
.FQ-box{
    width:50%;
    height:auto;
}
.FQ-para{
    width:80%;
    border-radius: 5px;
    background-color: white;
    padding-left: 20px;
}
.FQ-para p{
    display: none;
    padding-bottom:20px;
}
.FQ-para:hover p{
    display: block;
}
.FQ-para h4{
padding: 20px;
cursor: pointer;
}
.FQ-para h4 img{float:right;height:18px;margin-right:10px;}

#footer{
    color: #62646a;
}
#button6{
    background-color: #1dbf73;
    height:40px;
    width:150px;
    border-radius:5px;
    border:none;
    color:white;
    cursor:pointer;
    font-size: 15px;
    font-weight: bold; 
    margin-bottom: 50px;
}
#button6:hover{
background-color: green;
}
#block{
    display:flex ;
    justify-content: space-evenly;
    color: #62646a;
    margin-top:30px ;
}
.element{
    display:flex ;
    justify-content: space-evenly;
}
.inline{
    border:none;
    background-color: transparent;
    font-weight: bold;
}
.element h1,p{
    margin-right: 20px;
}
.element>h1{
   margin-top: -2px;
}
.index{
    margin-top: 20px;
}
.inline:hover{
    cursor: pointer;
    border-radius: 7px;
    background-color: #eee;

}

