#container{
    width:95%;
    height:500px;
    padding: 20px;
    border: 1px solid red;
}
#cont{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
#bag1{
    width:40%;
    font-size: 30px;
}
#bag2{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px; 
}
#bag2>button{
    width:75px;
    height:30px;
    font-weight: bold;
    /* border:1px solid white; */
    border-radius: 5px;
}
#bag2>button:hover{
    background-color: green;
}
#bag3>h1{
    margin-top: 150px;
    font-size: 55px;
}

#form1>input:nth-child(1){
    height:48px;
    width:42%;
    margin-right: -10px;
    border-radius: 5px;
    /* border:0px; */
    padding-left: 20px;
}
#form1>input:nth-child(2){
     background-color: #1DBF73;
     height:48px;
    width:100px;
    border-radius: 5px;
    border:0px
}
#form1>input:nth-child(2):hover{
background-color:#09783bfd;
}
#bag4{
    width:50%;
    display: flex;
    justify-content: left;
    font-size: 20px;
}
#bag4>div:nth-child(2){
    padding:25px;
}
#bag4>div:nth-child(2)>button{
    border-radius: 20px;
    border: 1px solid white;
    padding:3px 10px;
}
#bag4>div:nth-child(2) h5{
margin:2px;
font-size: 13px;
padding:3px;
}
#bag4>div:nth-child(1){
    margin-right: -10px; 
}
a{
    text-decoration: none;
    /* color:white; */
}


#top{
    width:96vw;
    height:80px;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    
}
#top>div>h3{
    margin-top: 20px;
    color: grey;
    margin-right: 40px;
    font-size:22px;
}
#top2 h1{
    margin-top: 40px;
    margin-left: 20px;;
    color: gray;
    font-size: 40px;
}

#video{
    padding-top: 100px;
    padding-bottom: 100px;
    width:96vw;
    height:500px;
    background-color: beige;
    display: flex;
    justify-content: space-evenly;
}
#text{
    width:50%;
}
#text h1,h3{
    color: #404145;
    font-weight: bold;
}
#text h1{
    font-size: 32px;
}
#text p{
    color:#62646A;
    font-size: 20px;
}
#text{
    width:50%;
}
#video2 img{
    height:470px;
    margin-top: 50px ;
}


